/*
*/
*{

    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    
    }
    .wrapper{
        
        padding:1%;
        width: 80%;
        margin: 0 auto;
        
    }
    .text-center
    {
    text-align:center;

    }
    .clearfix{
        clear:both;
        float:none;
    }
    .tbl-full{
        width: 100%;
       
    }
    
    table tr th{
        border-bottom: 1px solid black;
        padding: 1%;
        text-align: center;
        font-size:20px;
    }

    table tr td{
padding: 0;
font-size: larger;
    }
    .tbl-30{
        width:50%;
    }
    .btn-primary{
        background: #1e90ff;
        margin: 1%;
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    
    }
    .btn-primary:hover{
        background:#376491;
    }
    .btn-secondary{
        background: #7bed7b;;
        padding:1%;
        color:black;
        text-decoration:none;
        font-weight:bold;
    
    }
    .btn-secondary:hover{
        background:#2ed573;
    }
    .btn-danger{
        background:rgb(231, 35, 35);
        padding:1%;
        color:white;
        text-decoration:none;
        font-weight:bold;
    
    }
    .btn-danger:hover{
        background-color:rgb(174, 34, 34);
    }

    .sucess{
        color :#2ed573;
    }

    .error{
        color:#ff4757;
    }

    .menu{
        border-bottom: 1px solid black;;
    }
    /* CSS for menu */
    .menu{
        line-height: 60px;
    }
    .menu ul{
        list-style-type: none;
    }
    
    .menu ul li{
        display: inline;
        padding: 1%;
        font-weight: bold;
    font-size: 1.5rem;
    }
    .menu ul li a{
        font-size: 2rem;

        text-decoration:none;
        font-weight:bold;
        color:#ff6b81;
        
       
    
    }
    menu ul li a:hover{
        color:#ff4757;
    }
    
 .main-content1{
       
      color:#fff;
    background-image: url("../images/Login1.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
       padding:3% 0;
}
    
    .main-content{
       
      background:#f1f2f6;
       padding:3% 0;
      
    }
    .col-4{
        width:20%;
        background:white;
        padding:1%;
        margin:1%;
        float:left;
    }
    /*CSS for footer */
    .footer
    {
        background:#ff4757;
        color:white;
        }
        /* css for login*/
     .login
     {
    font-size:22px;
    border: 3px solid #f1f2f6; ;
       width: 25%;
       margin: 5% auto;
       padding: 2%;
     }
.input-responsive{
 		
    width: 40%;
height:5%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;

}